@charset "UTF-8";

/**********************************************

Index

i.      @font-face
ii.     General

    1.  Header
    2.  Footer
    3.  Dashboard
    4.  Homepage
    5.  City Pages
    6.  Curator
    7.  Bookings
    8.  Forum
    9.  Error Pages
    10. Legal

iii.    @media

**********************************************/


/**********************************************
    i.      @font-face
**********************************************/

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Thin.otf);
    font-weight: 100;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Light.otf);
    font-weight: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.otf);
    font-weight: bold;
}
/**********************************************
    ii.     General
**********************************************/
h1,
h2 {
    margin-bottom: 40px;
}
body {
    overflow-x: hidden;
}
#main {
    padding: 50px 0 0;
    width: 100%;
}
.right{
    float: right;
}
.jumbotron {
    border-radius: 0;
}
.formcol {
    padding: 0;
    margin: 0;
}
/**********************************************
    1.      Header
**********************************************/
#top-nav {
    position: fixed;
    margin: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border: none;
    border-radius: 0;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#top-nav .navbar-right {
    text-transform: none;
    letter-spacing: 0;
}
#top-nav .user-profile{
    position: relative;
    padding: 5px;
}
#alertMsg {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    font-weight: normal;
    font-size: 14px;
}
#u-avatar-header {
    position: relative;
    z-index: 50;
}
/**********************************************
    3.      Dashboard
**********************************************/
#dash-aside {
    position: fixed;
    padding: 80px 0 0;
    top: 0;
    margin: 0 0;
    background: linear-gradient(-45deg, #90C6C8, #A8D3D4);
}
#feat-nav {
    overflow-y: scroll;
}
#feat-nav .list-group-item {
    padding: 20px;
    background-color: inherit;
    border: none;
    border-radius: 0;
    transition: background 0.1s ease;
    text-transform: uppercase;
}
#feat-nav .list-group-item:hover {
    background: rgba(0,0,0,0.1);
}
#feat-nav .list-group-item span {
    margin-left: 50%;
    vertical-align: middle;
}
#feat-nav .list-group-item img {
    position: absolute;
    left:25%;
    top:10px;
}
#register-form {
    width: 80%;
    max-width: 750px;
    margin: 20px auto;
}
#dash-main {
    margin: 20px 0 0;
}

/**********************************************
    4.      Homepage
**********************************************/

#home-carousel {
    max-height: 550px;
    overflow: hidden;
}
#home-carousel .carousel-inner .item {
    max-height: 550px;
}
#home-info {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}
#home-info div {
    padding: 40px;
}
.adminTable {
    overflow-x: scroll;
}
#locationPoints {
    max-height: 250px;
    overflow-y: scroll;
}
.table-hover tr {
    cursor: pointer;
}
#main-search {
    position: relative;
    width: 200px;
    transition: width 0.5s ease;
}
#main-search:focus {
    width: 300px;
}
.adminBtn {
    background-color: transparent;
    border: none;
}

.homeLogo {
    max-width: 50%;
    margin-top: 40px;
    margin-bottom:32px;
}

.homeIcon {
    margin-top: 10px;
    max-width: 100%;
}

.homeTitle {
    color: #d86c32;
    font-weight: 300;
    font-size: 40px;
}

.homeSubtitle {
    color: #90c6c8;
    font-weight: 600;
    font-size: 18px;
}

#itineraryIcon {
    max-height: 225px;
    margin-top: 21px;
}

#curatorIcon {
    margin-top: 23px;
    margin-bottom: 3px;
}

#eventsIcon {
    margin-top: 30px;
    margin-bottom: 15px;
}

#citiesIcon {
    margin-top: 27px;
    margin-bottom: 8px;
}

/**********************************************
    5.      City Pages
**********************************************/
.cityTitle {
    margin-bottom: 0px !important; 
}

.citySubtitle {
    font-weight: 700;
}

.title {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
}

.cityList li {
    background-color: transparent!important;
    border: none !important;
    line-height: 10px;
}
.cityDropdown {
    width: 30%;
    height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #61563f;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cec5b1;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
.tip {
    margin-bottom: 30px;
}
.tipContent {
    margin: 0 auto;
}

.tipIcon {
    margin-right: 10px;
}

.tipText {
    text-align: left;  
}

.cityImgs {
    margin-bottom: 30px;
}

.carousel-caption h3 {
    font-size: 60px;
    color: white;
    margin-bottom: 0px;
}

.carousel-caption p {
    font-size: 20px;
    color: white;
}

/**********************************************
    6.      Curator
**********************************************/

.curator__header_image {
    width: 200px;
    margin-bottom: 20px;
}

/**********************************************
    7.      Bookings
**********************************************/
#Flightstab {
    background-image: url('../media/booking/flight3.jpeg');
    padding: 20px 35px;
}
#Hotelstab {
    background-image: url('../media/booking/hotel4.jpeg');
    padding: 20px 35px;
}
.bookheader {
  text-align: center;
  margin-bottom: 60px;
}

.bookimage {
    display: block;
    margin: auto;
}

.citydescription {
    text-align: justify;
    margin: 40px 0px 40px 0px;
}

/**********************************************
    8.      Forum/Voting
**********************************************/
.arrow_up a { display: block; background: url("../media/images/up_arrow.png") no-repeat; width: 26px; height: 13px }
.arrow_up a:hover { background-position: 0 -13px; width: 26px; height: 13px }
.arrow_up_voted { display: block; background: url("../media/images/up_arrow.png") no-repeat; width: 26px; height: 13px }
.arrow_down a { display: block; background: url("../media/images/down_arrow.png") no-repeat; width: 26px; height: 13px }
.arrow_down a:hover { background-position: 0 -13px; width: 26px; height: 13px }
.arrow_down_voted { display: block; background: url("../media/images/down_arrow.png") no-repeat; width: 26px; height: 13px }

.number { font-size: 10px; color: #818185; padding: 7px 0 7px 0; }
.voting_table { margin-right: 20px; }

/**********************************************
    9.      Error Pages
**********************************************/

.errTitle {
    margin-top: 50px;
    margin-bottom: 20px !important;
}

.errText {
    margin-bottom: 30px !important;
}

/**********************************************
    10.      Legal
**********************************************/

.legalTitle {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.legalSubitle {
    margin-top: 40px !important;
    margin-bottom: 20px !important;
}

.legalList {
    line-height: 25px;
}

.legalListSection {
    margin-bottom: 20px;
}

.legalListTitle {
    font-weight: bold;
}

.alphaList {
    list-style: lower-alpha;
}

.romanList {
    list-style: lower-roman;
}


/**********************************************
    iii.    @media
**********************************************/

@media (max-width: 768px) {
    #dash-aside {
        max-height: auto;
        position: relative;
        z-index: 5;
    }
    #u-avatar-header {
        width: 30px;
        height: 30px;
    }
    #main-search-form {
        padding: 10px 60px;
    }
    #main-search {
        width: 100%;
    }
    #main-search:focus {
        width: 100%;
    }
}
/*@media (max-width: 918px) and (min-width: 768px) {
    #u-avatar-header {
        display: none;
    }
}*/
